:root {
  --primary-100: #1F3A5F;
  --primary-200: #4d648d;
  --primary-300: #acc2ef;
  --accent-100: #3D5A80;
  --accent-200: #cee8ff;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #0F1C2E;
  --bg-200: #1f2b3e;
  --bg-300: #374357;
}

body {
  margin: 0;
  background-color: var(--bg-100);
  color: var(--text-100);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 0 var(--accent-200);
  transition: text-shadow 500ms;
}

a:hover {
  text-shadow: 15px 15px 5px var(--accent-200);
}