
.header {
    display: flex;
    height: 80vh;
    background-color: var(--bg-300);
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(165deg,#f5d5a7, #8ea6c3 30%,  #33506e 70%);
  }
  
  .nav {
    padding: 10px 2rem;
    height: 60px;
    background: linear-gradient(165deg, #33506e 15%, #8ea6c3 70%, #f5d5a7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e2e2e2;
}

.nav>#SearchBox {
    opacity: 0.5;
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
}

.nav>#SearchBox>#SearchIcon {
    border-radius: 20px 0 0 20px;
    width: 40px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: text;
}

.nav>#SearchBox>input {
    border-radius: 0 20px 20px 0;
    width: 80%;
    padding: 10px;
    border: 0;
}

.nav>#SearchBox>input:focus {
    outline: none;
    border: 1px solid white;
    border-left: 0;
}

.nav>#SearchBox>input:focus+#SearchIcon {
    border: 1px solid;
    border-right: white;
}

.container2 {
    position: relative;
    align-items: center;
    text-align: center;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: var(--bg-200);
}

.container {
    width: 100%;
    height: 83vh;
    margin: 0;
    padding: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(165deg, #33506e 15%, #8ea6c3 70%, #f5d5a7);
}


.searchresult {
    padding: top 0;
    
}

.profile {
    width: 500px;
    height: 500px;
    border: solid black 5px;
    margin: 15px;
    padding: 15px;
    justify-content: center;
    background: linear-gradient(165deg, #33506e 15%, #8ea6c3 70%, #f5d5a7);
    border-style: groove;
    box-shadow: 0 0 15px;

}
.profile>img{
    border:  solid black 5px;
    border-radius: 30px;
    box-shadow: 0 0 15px;
}

.photo {
    border: solid black;
    width: auto;
    height: 3vh;
    margin: 15px;
    padding: 10px;
}

.info {
    width: 230px;
    height: fit-content;
    margin-top: 15px;
    margin-left: 90px;
    justify-content: center;
    padding: 45px;
    padding-top: 85px;
    font-size: x-large;
    border-top: solid black;
    color: black;

}

.songs {
    width: 700px;
    height: 500px;
    background: linear-gradient(165deg, #33506e 15%, #8ea6c3 70%, #f5d5a7);
    border: solid black 5px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    overflow-y: auto;
    justify-content: center;
    border-style: groove;
    box-shadow: 0 0 3px;
}

.titles>a {
    margin: 10px;
    padding: 10px;
    display: flex;
    color: white;
    justify-content: space-between;
}
